<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

 body{
     background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
     background-size: cover;
     background-position: center;
     max-width: 1280px;
     height: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
}
 .form{
     padding-down: 20px;
     max-width: 650px;
     border: 5px solid #E9967A;
     margin: 10% auto 0;
     background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),#E9967A;
}
 .form-text{
     text-align: center;
     margin: 0 0 40px 0;
}
 .form-text h1{
     color: #fff;
     font-family: 'Mukta', sans-serif;
     font-size: 50px;
     margin-bottom: 20px;
}
 .main-form div{
     margin: 10px 10px;
     width: 300px;
     display: inline-block;
}
 .main-form div input {
     width: 100%;
     font-family: 'Mukta', sans-serif;
     background: none;
     border: 1px solid #E9967A;
     font-size: 30px;
     color: #fff;
     outline: none;
     padding: 3px 0 3px 10px;
     margin-top: 10px;
}
 .main-form div select{
     width: 100%;
     font-family: 'Mukta', sans-serif;
     background: none;
     border: 1px solid #E9967A;
     font-size: 30px;
     color: #fff;
     outline: none;
     padding: 3px 0 3px 10px;
     margin-top: 10px;
}
 .main-form div select option{
     background-color: #E9967A;
     font-size: 18px;
}
 .main-form div span{
     width: 100%;
     font-family: 'Mukta', sans-serif;
     color: #fff;
     font-size: 25px;
}
 #submit{
     width: 100%;
     text-align: center;
}
 #submit button{
     font-family: 'Mukta', sans-serif;
     width: 100px;
     padding: 15px 32px;
     background-color: #E9967A;
     color: white;
     transition: all .3s;
     margin-right: 70px;
     margin-left: 70px;
     font-size: 18px;
}
 #submit button:hover{
     font-family: 'Mukta', sans-serif;
     width: 200px;
     background-color: #FFE4C4;
     color: #fff;
}
 #submit button:active{
     font-size: 24px;
     background-color:#3e8e41;
     color: #fff;
}
 @media screen and (max-width:710px) {
     .main-form{
         text-align: center;
    }
}
 .days{
     font-family: 'Mukta', sans-serif;
     width: 100px;
     background-color: transparent;
     color: white;
     transition: all .3s;
     font-size: 18px;
}
