@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
     --btn-color:#E9967A;
     --about-sec:#000000;
}
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     outline: none;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
     transition: 0.5s;
     text-transform: capitalize;
}
 html{
     font-size: 65%;
     scroll-behavior: smooth;
}
 .header{
     padding: 1rem 7%;
     position: fixed;
     left: 0;
     right: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     background: rgba(0, 0, 0, 0.5);

}
 .logo img{
     width: 80px;
}
 #header{
     overflow: hidden;
}
 #header a{
     color: white;
     font-weight: bold;
     margin: 0.5rem;
     padding: 0.5rem;
     font-size: 2rem;
     text-align: center;
}
 #header a:hover{
     color: var(--btn-color);
}
 .navbar a.active{
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
 .navbar .icon {
     display: none;
}
 @media screen and (max-width: 800px) {
     .navbar a:not(:first-child) {
        display: none;
    }
     .navbar a.icon {
         float: right;
         display: block;
    }
}
 @media screen and (max-width: 800px) {
     .navbar.responsive {
        position: relative;
    }
     .navbar.responsive a.icon {
         position: absolute;
         right: 0;
         top: 0;
    }
     #header .responsive a {
         float: none;
         display: block;
         text-align: left;
    }
}

