@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

 .home{
     min-height: 100vh;
     padding-top: 12rem;
     background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
     background-position: center;
     background-size: cover;
}
 .home .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap:1.5rem;
}
 .home .row .content {
     flex:1 1 42rem;
}
 .home .content{
     margin-left: 100px;
}
 .home .row .image{
     flex:1 1 42rem;
     padding-top: 10rem;
     text-align: center;
}
 .home .row .image img{
     height:35rem;
     animation: float 4s linear infinite;
}
 @keyframes float{
     0%, 100%{
         transform: translateY(0rem);
    }
     50%{
         transform: translateY(-7rem);
    }
}
 .home .row .content h3{
     font-size: 7rem;
     text-transform: uppercase;
     color: white;
}
 .home .image-slider{
     text-align: center;
     padding:3rem 0;
}
 .home .image-slider img{
     height:9rem;
     margin:0 .5rem;
     cursor: pointer;
     margin-top: 5rem;
}
 .home .image-slider img:hover{
     transform: translateY(-2rem);
}
 .btn{
     display: inline-block;
     padding:.9rem 1.5rem;
     border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
     color: black;
     background: #E9967A;
     border: white;
     cursor: pointer;
     margin-top: 1rem;
     font-size: 1.7rem;
}
 .btn:hover{
     border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
     border:.3rem solid #6495ED;
}
 <script> let menubar = document.querySelector('#menu-bar') let nav = document.querySelector('.navbar') menubar.onclick = () =>{
     menubar.classList.toggle('fa fa-times') nav.classList.toggle('active') 
}
 const sr = ScrollReveal ({
     distance : '45px', duration : 2700, reset : true, 
}
) </script> 