@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito:wght@200&family=Poppins:wght@100;300;400;600&display=swap');

 * {
	margin: 0;
	padding: 0;
}

 .container {
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
 /*aici puteam pune fundalul*/
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

 .card {
	width: 350px;
	height: 500px;
	background: rgba(0,0,0, 0.6);
	box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
	perspective: 1000px;
}

 .inner-box {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}

 .card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient( rgba(255, 255, 255, 0.5));
	padding: 55px;
	box-sizing: border-box;
	backface-visibility: hidden;
}


/* stil pentru LOGIN*/
 .card h2 {
	font-weight: 600;
	font-size: 33px;
	text-align: center;
	margin: 0 0 35px 0;
	font-family: 'Montserrat', sans-serif;
}

/* stil pentru butonul de email si password*/
 .input-box {
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	color: #fff;
}

 .form::placeholder {
	color: #fff;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
}

 button {
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	margin: 35px 0 10px;
	height: 32px;
	font-size: 12px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	color: #fff;
	cursor: pointer;
}

 .submit-btn {
	position: relative;
	font-family: 'Poppins', sans-serif;
}

 .submit-btn::after {
	content: '\27a4';
	color: #333;
	line-height: 32px;
	font-size: 17px;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: -1px;
	top: -1px;
}

 span {
	font-size: 13px;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;
}

 .card .btn {
	margin-top: 70px;
}

 a:link, a:visited {
	background-color: #E9967A;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

 a:hover, a:active {
	background-color: #FFA07A;
}

 .logo {
	position: absolute;
	left: 45px;
	top: 34px;
}

 .logo img {
	width: 80px;
}