 <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">

*{
     margin: 0;
     padding: 0;
     font-family: 'Lato', sans-serif;
     box-sizing: border-box;
}
 #reservations {
     border-collapse: collapse;
     box-shadow: 0 5px 10p #4f546c;
     width: 100%;
     font-family: Mukta, sans-serif;
     font-size: large;
     table-layout: fixed;
     align-items: center;
     justify-content: center;
     margin-top: 150px;
     margin-left: -15px;
     display: inline;
}
 #panel{
     display: inline-block;
     margin-top: 150px;
     margin-left: 40px;
     font-size: large;
}
 h1{
     position: relative;
     font-family: 'Lato', sans-serif;
     font-size: 3vw;
     color: white;
     webkit-text-stroke: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
     text-transform: uppercase;
     display: flex;
}
 h1::before{
     content: attr(data-text);
     position: absolute;
     top: 0;
     left: 500px;
     width: 0;
     height: 100%;
     color: #E9967A;
     -webkit-text-stroke: 0vw #383d52;
     border-right: 2px solid #E9967A;
     overflow: hidden;
     animation: animate 6s linear infinite;
}
 @keyframes animate{
     0%, 10%, 100% {
         width: 0;
    }
     70%,90%{
         width: 24%;
    }
}
 #reservations td, #reservations th{
     border: 1px solid #ddd;
     padding: 8px;
}
 #reservations tr:nth-child(even){
     background-color: #f2f2f2;
}
 #reservations tr:hover {
     background-color: #ddd;
}
 #reservations th {

     padding-top: 12px;
     padding-bottom: 12px;
     text-align: center;
     background-color: #A9A9A9;
     color: white;
}

form {
 display: inline;

}
 button{
     display: inline-block;
     padding: 15px 25px;
     font-size: 16px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline: none;
     color: #fff;
     background-color: #E9967A;
     border: none;
     border-radius: 15px;
     box-shadow: 0 9px #999;
}
 button:hover {
    background-color:#FFE4C4
}
 .button:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
}
 .filters{
     display:block;
}
 .searchByDate{
     position: relative;
     display: inline-block;
     font-size: 1px;
     margin: 6px;
     text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 2px;
     border-radius: 40px;
     background: linear-gradient(to right, rgba(233, 150,120), rgba(226,115,78));
}
 .searchByDate:hover {
     box-shadow: rgba(255, 99, 71) 0 -25px 18px -14px inset,rgba(255, 99, 71) 0 1px 2px,rgba(255, 99, 71) 0 2px 4px,rgba(255, 99, 71) 0 4px 8px,rgba(255, 99, 71) 0 8px 16px,rgba(255, 99, 71) 0 16px 32px;
     transform: scale(1.05) rotate(-1deg);

}
